@{
    ViewData["Title"] = "Translate SPA";
}

<div class="main-wrapper">

    <div class="language-selection-wrapper">
        <h2>Languages</h2>
        @foreach (var language in ViewBag.Languages)
        {
            <div class="language">@language</div>
        }
    </div>

    <div class="translate-wrapper">
        <div class="textarea-wrapper">
            <textarea class="input-text" placeholder="Enter text to translate..."></textarea>
            <textarea class="output-text" readonly>Translated text will appear here.</textarea>
        </div>
        <div class="button-wrapper">
            <div class="error-message">
                @if (ViewBag.ErrorMessage != null)
                {
                    @ViewBag.ErrorMessage
                }
            </div>
            <div class="translate-button">
                <div class="spinner"></div>
                <div class="button">Translate</div>
            </div>
        </div>
    </div>

</div>